body {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
.background-block {
  max-height: 1200px;
  min-height: 600px;
  max-width: 1200px;
  min-width: 600px;
  background: rgb(238, 205, 205);
  overflow: auto;
  padding: 10px;
  border: 1px solid blueviolet;
  border-radius: 15px 0 0 15px;
}
.block {
  max-height: 300px;
  min-height: 250px;
  max-width: 300px;
  min-width: 250px;
  background: green;
  padding: 30px;
  margin: 20px;
  border: 1px groove;
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgb(86, 17, 17);
  display: inline-block;
  width: 350px;
}
